@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.loader__box {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    padding: auto;
}

.loader__title {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 3rem;
}

.loader {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
}

.loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
    0% {
    width: 0;
    }
    100% {
    width: 100%;
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }
    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }
    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}

.loader__footer {
    margin-top: 2rem;
}

.loader__footer > .loader__footer--link {
    text-decoration: none;
    color: inherit;
}

.loader__footer > .loader__footer--link:hover {
    color: #c2b280;
    transition: color .21s ease-in-out;
}

@media (min-width: 600px) {
    .loader__title {
        font-size: 2.5rem;
        text-align: center;
    }
}